{% extends 'base.html.twig' %}

{% block title %}{{ product.name }} | Phoneshop{% endblock %}

{% block body %}
<div class="container mt-5">
    <h2>{{ product.name }}</h2>
      <div class="row">
    <div class="col">
        <img class="img" style="width: 85%;" src="{{ asset('images/' ~ product.image) }}" alt="no-bg">
    </div>
    <div class="col">
      <p>{{ product.description }}</p>
      <b>€{{ product.price }}</b><br>
      <a href="#" class="btn btn-primary fw-bold mt-3">Purchase</a>
    </div>
  </div>
</div>
{% endblock %}